body {
  width: 100vw;
  height: 100vh;
}

*:focus {
  outline: none;
}

#app {
  width: 100vw;
  height: 100vh;
}


/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}

/* For IE and Edge */
body {
    -ms-overflow-style: none;
}
#dropdown-container {
    position: absolute;
    top: 110px;
    left: 10px;
    cursor: move;
}
