html, body {
  height: 100%;
  -ms-overflow-style: none;
  font-family: "DM Sans", sans-serif;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
}

#canvas {
  width: 100%;
  height: 100%;
}

.new-window {
    position: absolute; /* Absolute positioning */
    z-index: 20;        /* z-index of 20 */
    width: 80vw;        /* 90% of the viewport width */
    height: 80vh;       /* 90% of the viewport height */
    background-color: rgba(255, 255, 255, 0.8); /* Example: semi-transparent white background */
    padding-left: 30px;  /* Left padding of 30px */
    padding-right: 30px; /* Right padding of 30px */
    top: 50%;           /* Center the window vertically */
    left: 50%;          /* Center the window horizontally */
    transform: translate(-50%, -50%); /* Adjust for true centering */
    overflow: auto;     /* Add scroll if content overflows */
}


/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
    display: none;
}

      .open-modal {
         text-align: center;
         display: inline-block;
        border: 2px solid black;
        background: transparent;
color: var(--main-color);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 14px;
        padding: .5em 1em;
        font-weight: bold;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        animation: pulse 8s infinite;

      }

      .open-modal:hover {
        background: #D95952;
      }


      @keyframes pulse {
      0% {
      opacity:1;
      }

      40% {
      opacity:0.8;
      box-shadow:0px 0px 5px 0px $color;
      }

      60% {
      opacity:0.7;
      box-shadow:0px 0px 5px 0px $color;
      }

      100%{
      opacity:1;
      box-shadow:none;
      }
      }
